// ---------------------------------------------------------------------------
// imports

@import "compass/css3/animation";
@import "compass/css3/transform";
@import "compass/css3/opacity";

// ---------------------------------------------------------------------------
// rotateOut [ only | up | down | left | right |
//            downLeft | downRight | upLeft | upRight | all ]

@mixin animate-rotateOut(
  $sub        : all,
  $class      : $default-animation-class-mode,
  $keyframes  : $default-keyframes-output
) {
  $sub        : compact($sub);
  $only       : yepnope($sub, all only);
  $downLeft   : yepnope($sub, all down left downLeft);
  $downRight  : yepnope($sub, all down right downRight);
  $upLeft     : yepnope($sub, all up left upLeft);
  $upRight    : yepnope($sub, all up right upRight);

  @if $downLeft   { @include animate-rotateOutDownLeft   ($class, $keyframes); }
  @if $downRight  { @include animate-rotateOutDownRight  ($class, $keyframes); }
  @if $upLeft     { @include animate-rotateOutUpLeft     ($class, $keyframes); }
  @if $upRight    { @include animate-rotateOutUpRight    ($class, $keyframes); }

  $name: rotateOut;
  @if $only {
    @if $keyframes {
      @include keyframes($name) {
        0% {
          @include transform-origin(center, center);
          @include rotate(0);
          opacity: 1;
        }
        100% {
          @include transform-origin(center, center);
          @include rotate(200deg);
          opacity: 0;
        }
      }
    }
    @include animation-class($name, $class) {}
  }
}

// ---------------------------------------------------------------------------
// rotateOutUp [ left | right | all ]

@mixin animate-rotateOutUp(
  $sub        : all,
  $class      : $default-animation-class-mode,
  $keyframes  : $default-keyframes-output
) {
  $sub    : compact($sub);
  $left   : yepnope($sub, all left);
  $right  : yepnope($sub, all right);
  @if $left   { @include animate-rotateOutUpLeft  ($class, $keyframes); }
  @if $right  { @include animate-rotateOutUpRight ($class, $keyframes); }
}

// ---------------------------------------------------------------------------
// rotateOutDown [ left | right | all ]

@mixin animate-rotateOutDown(
  $sub        : all,
  $class      : $default-animation-class-mode,
  $keyframes  : $default-keyframes-output
) {
  $sub    : compact($sub);
  $left   : yepnope($sub, all left);
  $right  : yepnope($sub, all right);
  @if $left   { @include animate-rotateOutDownLeft  ($class, $keyframes); }
  @if $right  { @include animate-rotateOutDownRight ($class, $keyframes); }
}


// ---------------------------------------------------------------------------
// rotateOutLeft [ up | down | all ]

@mixin animate-rotateOutLeft(
  $sub        : all,
  $class      : $default-animation-class-mode,
  $keyframes  : $default-keyframes-output
) {
  $sub    : compact($sub);
  $up     : yepnope($sub, all up);
  $down   : yepnope($sub, all down);
  @if $up   { @include animate-rotateOutUpLeft    ($class, $keyframes); }
  @if $down { @include animate-rotateOutDownLeft  ($class, $keyframes); }
}

// ---------------------------------------------------------------------------
// rotateOutRight [ up | down | all ]

@mixin animate-rotateOutRight(
  $sub        : all,
  $class      : $default-animation-class-mode,
  $keyframes  : $default-keyframes-output
) {
  $sub    : compact($sub);
  $up     : yepnope($sub, all up);
  $down   : yepnope($sub, all down);
  @if $up   { @include animate-rotateOutUpRight     ($class, $keyframes); }
  @if $down { @include animate-rotateOutDownRight   ($class, $keyframes); }
}

// ---------------------------------------------------------------------------
// rotateOutDownLeft

@mixin animate-rotateOutDownLeft(
  $class      : $default-animation-class-mode,
  $keyframes  : $default-keyframes-output
) {
  $name: rotateOutDownLeft;
  @if $keyframes {
    @include keyframes($name) {
      0% {
        @include transform-origin(left, bottom);
        @include rotate(0);
        opacity: 1;
      }
      100% {
        @include transform-origin(left, bottom);
        @include rotate(90deg);
        opacity: 0;
      }
    }
  }
  @include animation-class($name, $class) {}
}

// ---------------------------------------------------------------------------
// rotateOutUpLeft

@mixin animate-rotateOutUpLeft(
  $class      : $default-animation-class-mode,
  $keyframes  : $default-keyframes-output
) {
  $name: rotateOutUpLeft;
  @if $keyframes {
    @include keyframes($name) {
      0% {
        @include transform-origin(left, bottom);
        @include rotate(0);
        opacity: 1;
      }
      100% {
        @include transform-origin(left, bottom);
        @include rotate(-90deg);
        opacity: 0;
      }
    }
  }
  @include animation-class($name, $class) {}
}

// ---------------------------------------------------------------------------
// rotateOutDownRight

@mixin animate-rotateOutDownRight(
  $class      : $default-animation-class-mode,
  $keyframes  : $default-keyframes-output
) {
  $name: rotateOutDownRight;
  @if $keyframes {
    @include keyframes($name) {
      0% {
        @include transform-origin(right, bottom);
        @include rotate(0);
        opacity: 1;
      }
      100% {
        @include transform-origin(right, bottom);
        @include rotate(-90deg);
        opacity: 0;
      }
    }
  }
  @include animation-class($name, $class) {}
}

// ---------------------------------------------------------------------------
// rotateOutUpRight

@mixin animate-rotateOutUpRight(
  $class      : $default-animation-class-mode,
  $keyframes  : $default-keyframes-output
) {
  $name: rotateOutUpRight;
  @if $keyframes {
    @include keyframes($name) {
      0% {
        @include transform-origin(right, bottom);
        @include rotate(0);
        opacity: 1;
      }
      100% {
        @include transform-origin(right, bottom);
        @include rotate(90deg);
        opacity: 0;
      }
    }
  }
  @include animation-class($name, $class) {}
}
