// ---------------------------------------------------------------------------
// imports

@import "lightSpeed/lightSpeedIn";
@import "lightSpeed/lightSpeedOut";

// ---------------------------------------------------------------------------
// lightSpeed [ in | out | all ]

@mixin animate-lightSpeed(
  $sub        : all,
  $class      : $default-animation-class-mode,
  $keyframes  : $default-keyframes-output
) {
  $sub  : compact($sub);
  $in   : yepnope($sub, all in);
  $out  : yepnope($sub, all out);
  @if $in   { @include animate-lightSpeedIn   ($class, $keyframes); }
  @if $out  { @include animate-lightSpeedOut  ($class, $keyframes); }
}
