// ---------------------------------------------------------------------------
// imports

@import "rotate/rotateIn";
@import "rotate/rotateOut";

// ---------------------------------------------------------------------------
// rotate [ in | in-only | inUp | inDown | inLeft | inRight |
//          inDownLeft | inDownRight | inUpLeft | inUpRight |
//          out | out-only | outUp | outDown | outLeft | outRight |
//          outDownLeft | outDownRight | outUpLeft | outUpRight |
//          left | right | up | down | all ]

@mixin animate-rotate(
  $sub        : all,
  $class      : $default-animation-class-mode,
  $keyframes  : $default-keyframes-output
) {
  $sub          : compact($sub);
  $in-only      : yepnope($sub, all in in-only);
  $inDownLeft   : yepnope($sub, all in inDown inLeft left down);
  $inDownRight  : yepnope($sub, all in inDown inRight right down);
  $inUpLeft     : yepnope($sub, all in inUp inLeft left up);
  $inUpRight    : yepnope($sub, all in inUp inRight right up);
  $out-only     : yepnope($sub, all out out-only);
  $outDownLeft  : yepnope($sub, all out outDown outLeft left down);
  $outDownRight : yepnope($sub, all out outDown outRight right down);
  $outUpLeft    : yepnope($sub, all out outUp outLeft left up);
  $outUpRight   : yepnope($sub, all out outUp outRight right up);
  @if $in-only      { @include animate-rotateIn           (only, $class, $keyframes); }
  @if $inDownLeft   { @include animate-rotateInDownLeft   ($class, $keyframes); }
  @if $inDownRight  { @include animate-rotateInDownRight  ($class, $keyframes); }
  @if $inUpLeft     { @include animate-rotateInUpLeft     ($class, $keyframes); }
  @if $inUpRight    { @include animate-rotateInUpRight    ($class, $keyframes); }
  @if $out-only     { @include animate-rotateOut          (only, $class, $keyframes); }
  @if $outDownLeft  { @include animate-rotateOutDownLeft  ($class, $keyframes); }
  @if $outDownRight { @include animate-rotateOutDownRight ($class, $keyframes); }
  @if $outUpLeft    { @include animate-rotateOutUpLeft    ($class, $keyframes); }
  @if $outUpRight   { @include animate-rotateOutUpRight   ($class, $keyframes); }
}
