// ---------------------------------------------------------------------------
// roll [in | out | all]

@mixin animate-roll($sub: all, $class: $default-animation-class-mode) {
  $sub  : compact($sub);
  $in   : yepnope($sub, all in);
  $out  : yepnope($sub, all out);
  @if $in { @include animate-rollIn($class); } 
  @if $out { @include animate-rollOut($class); } 
}

// ---------------------------------------------------------------------------
// rollIn

@mixin animate-rollIn($class: $default-animation-class-mode) {
  $name: rollIn;
  @include keyframes($name) {
    0% {
      @include opacity(0);
      @include transform(translateX(-100%) rotate(-120deg)); 
    }
    100% {
      @include opacity(1);
      @include transform(translateX(0px) rotate(0deg));
    }
  }
  @include animation-class($name, $class) {}
}

// ---------------------------------------------------------------------------
// rollOut

@mixin animate-rollOut($class: $default-animation-class-mode) {
  $name: rollOut;
  @include keyframes($name) {
    0% {
      @include opacity(1);
      @include transform(translateX(0px) rotate(0deg)); }
    100% {
      @include opacity(0);
      @include transform(translateX(-100%) rotate(-120deg));
    }
  }
  @include animation-class($name, $class) {}
}
