// ---------------------------------------------------------------------------
// imports

@import "compass/css3/animation";

// ---------------------------------------------------------------------------
// pulse

@mixin animate-pulse(
  $class      : $default-animation-class-mode,
  $keyframes  : $default-keyframes-output
) {
  $name: pulse;
  @if $keyframes {
    @include keyframes($name) {
      0% {
        @include scale(1);
      }
      50% {
        @include scale(1.1);
      }
      100% {
        @include scale(1);
      }
    }
  }
  @include animation-class($name, $class) {}
}
