// ---------------------------------------------------------------------------
// wobble

@mixin animate-wobble($class: $default-animation-class-mode) {
  $name: wobble;
  @include keyframes($name) {
    0% {
      @include translateX(0%); 
    }
    15% {
      @include transform(translateX(-25%) rotate(-5deg)); 
    }
    30% {
      @include transform(translateX(20%) rotate(3deg)); 
    }
    45% {
      @include transform(translateX(-15%) rotate(-3deg)); 
    }
    60% {
      @include transform(translateX(10%) rotate(2deg)); 
    }
    75% {
      @include transform(translateX(-5%) rotate(-1deg)); 
    }
    100% {
      @include transform(translateX(0%)); 
    } 
  }
  @include animation-class($name, $class) {}
}
